	<div class="jumbotron navbar-inverse">
		<div class="container">
				<div id="navbord" iid="nav-str" class="col-lg-12 text-center">
					{{ render(controller('ProAddressAppBundle:App:getCategorie')) }}
				</div>
            {{ render(controller('ProAddressServiceBundle:Index:getSCategorie')) }}
		</div>
		{#PharmaKindonou : 
<a href="https://www.google.bj/maps/place/Pharmacie+Kindonou/@6.4029242,2.3130934,15z/data=!4m13!1m7!3m6!1s0x102354e509f894f7:0xc8fde921f89849f6!2sCotonou!3b1!8m2!3d6.3702928!4d2.3912362!3m4!1s0x0:0x4f611abfea460ca5!8m2!3d6.4045569!4d2.3362765">phk</a>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15859.72298680896!2d2.313093363814219!3d6.402924196265777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f611abfea460ca5!2sPharmacie+Kindonou!5e0!3m2!1sfr!2sbj!4v1506039141687" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>#}

	</div>
