
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Anything you want
        </div>
        <strong>Copyright &copy; 2018 <a href="#">ProAddress @ OS</a>.</strong> Tout droit réservé.
    </footer>
