{% extends "ProAddressAppBundle::layout.html.twig" %}

{% block title %}{{ parent()~' | Service' }}{% endblock %}

{% block metadescription %}{% endblock %}

{% block after_header %}
	<div class="jumbotron navbar-inverse">
		<div class="container">
			{{ render(controller('ProAddressServiceBundle:Index:getSCategorie')) }}
		</div>
	</div>
{% endblock %}
{% block left %}{% endblock %}
{% block data %}{% endblock %}
{% block right %}{% endblock %}