	
				<div id="navbord" class="col-lg-12 text-center">
					{% if structurescat is defined and structurescat is not empty %}
					{% for cat in structurescat %}
					<a class="fa-xs" href="{{ path('pa_app_structure', {'cat': cat.nom}) }}">{{ cat.nom|upper }}</a>
					{% endfor %}
					{% endif %}
				</div>
